.orderPage{
    display: flex;
}
.orderContainer{
    flex: 1;
    display: flex;
    margin: auto;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.orderContainer h1{
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;
}

.itemcontainer{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.maincontainer{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 180px;
}

.productitems{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.productitems img{
   width: 80px;
}

.userdetail{
    display: flex;
    flex-direction: column;
}

.productname{
    font-weight: 550;
    font-size: 18px;
}

.producttext{
    font-size: 15px;
    font-weight: 500;
}

.orderleft{
    display: flex;
    flex-direction: row;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

.orderStatus{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.orderStatus p{
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 100%;
    
}

.orderleft button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgba(42, 39, 39, 0.155);
    font-size: 15px;
    font-weight: 500;
}

.orderleft button:hover{
    background: rgb(81, 77, 77);
    color: #fff;
    font: bold;
}

.noOrder{
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-size: 2rem;
    font-weight: 600;
    color: red;
    margin-bottom: 100px;
}


@media(max-width:1024px){
 .orderContainer{
   margin: auto;
 }
}


@media(max-width:900px){
    .maincontainer{
        gap: 50px;
    }
    .orderleft{
        gap: 100px;
    }
}

@media(max-width:700px){
    
    .maincontainer{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .orderleft{
        gap: 150px;
    }
}

@media(max-width:450px){
    .orderleft{
        gap: 50px;
    }
}