/* ===== GLOBAL RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ===== PAGE BACKGROUND ===== */
.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e14fa2e2;
  padding: 20px;
}

/* ===== GLASS CARD ===== */
.login-card {
  width: 100%;
  max-width: 420px;
  padding: 35px;
  border-radius: 16px;

  /* Glassmorphism */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);

  color: #fff;
}

/* ===== TITLE ===== */
.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 25px;
}

/* ===== INPUTS ===== */
.login-card input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.25);
  color: #fff;
 
  font-size: 20px;
}

.login-card input::placeholder {
  color: rgba(255, 255, 255, 0.977);
}

/* ===== BUTTON ===== */
.login-card button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}


/* ---- up to 500px (Mobile) ---- */
@media (max-width: 500px) {
  .login-card {
    padding: 25px;
  }

  .login-card h2 {
    font-size: 20px;
  }

  .login-card input,
  .login-card button {
    font-size: 14px;
  }
}

/* ---- up to 800px (Tablets) ---- */
@media (min-width: 501px) and (max-width: 800px) {
  .login-card {
    max-width: 380px;
  }
}

/* ---- up to 1028px (Small Laptops) ---- */
@media (min-width: 801px) and (max-width: 1028px) {
  .login-card {
    max-width: 420px;
  }
}

/* ---- up to 1280px (Large Screens) ---- */
@media (min-width: 1029px) and (max-width: 1280px) {
  .login-card {
    max-width: 460px;
  }
}
